@import "tailwindcss";

:root {
  /* ### Primary */

  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* ### Neutral */

  --off-white: hsl(36, 100%, 99%);
  --gray-blue: hsl(233, 8%, 79%);
  --darkgray-blue: hsl(236, 13%, 42%);
  --darkest-blue: hsl(240, 100%, 5%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FONT_WEIGHT: 400, 700, 800 */
@layer base {
  #root {
    @apply min-h-screen bg-(--off-white) relative max-w-[1460px] mx-auto;
  }

  body {
    font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  p {
    font-size: clamp(0.94em, 0.4em + 2vw, 1.3em);
    color: var(--darkgray-blue);
  }

  h1 {
    font-size: clamp(2em, 1.5em + 3vw, 5em);
    line-height: 1;
  }
  h2 {
    font-size: clamp(1.5em, 1.5em + 3vw, 4em);
  }
  h3 {
    font-size: clamp(0.8em, 0.4em + 1.5vw, 1.7em);
  }
}

@layer components {
  .hero {
    @apply md:grid md:grid-cols-2 flex flex-col gap-5 md:gap-8 col-span-2;
  }

  .new-section {
    @apply bg-(--darkest-blue) px-4 pt-5 lg:px-6;
  }

  .popular-section {
    @apply flex gap-5 lg:col-span-3;
  }

  .wrapper {
    @apply md:grid md:grid-cols-2 lg:grid-cols-3 gap-5 flex flex-col p-4 lg:gap-y-18;
  }

  .bg-filter {
    z-index: 2;
    @apply min-w-screen min-h-screen absolute top-0 right-0 bg-(--darkgray-blue)/50 contrast-150;
  }
  .mobile-nav {
    z-index: 10;
    @apply bg-(--off-white) min-h-screen w-2/3 fixed top-0 right-0 px-5 py-8 flex flex-col gap-20 font-semibold;
  }
}
